<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<h3><%= @restaurant.address %></h2>
<h4><%= @restaurant.phone_number %></h4>

<h1>Reviews</h1>

<% @restaurant.reviews.each do |review| %>
  <h6><%= review.content %></h6>
  <%= "â­" * review.rating%>
<% end %>

<p> </p>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %> |

<%= link_to "Back to list", restaurants_path  %>
